.joke{
    
    padding: 5px;
    border-bottom: 2px solid #9575cd;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.joke .votebar{
    margin:0 20px;
    width: 15%;
    
    
}
.joke .votebar .up,.down{
    margin: 5px;
    color: blue;
    cursor: pointer;
    margin: 5px;
    transition: all 1s ease;
    
}
.joke .votebar .down{
    color: purple;
}
.joke .votebar .up:hover,
.joke .votebar .down:hover{
    color: #eee;
}
.joke .votebar span{
    border: 2px solid rgba(179,299,252,1);
    color: #eee;
    
    padding: 5px;
    border-radius: 5px;
}
.joke .text{
    width: 70%;
    font-weight: bold;
    font-size: large;
    
}
.joke .imoji{
    width: 15%;
    
    font-size: 40px;
    text-align: center;
}